@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --secondary_color:#5cff3f;
    --bg_secondary_color:#111;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}